.accessories-page {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center; /* Căn giữa toàn bộ nội dung theo chiều ngang */
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center; /* Đưa sidebar và product list vào giữa */
  width: 80%; /* Giới hạn chiều rộng tổng thể để tránh kéo dài toàn màn hình */
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f8f8f8;
}

.product-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Hiển thị 3 sản phẩm mỗi hàng */
  gap: 20px;
  padding: 20px;
}
