.accessories-page {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center; /* Căn giữa toàn bộ nội dung theo chiều ngang */
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center; /* Đưa sidebar và product list vào giữa */
  width: 100%; /* Giới hạn chiều rộng tổng thể để tránh kéo dài toàn màn hình */
  max-width: 1200px; /* Giới hạn tối đa để không quá rộng */
  margin-left: auto;
  margin-right: auto;
}

