.bestseller {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}

.bestseller-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


