.search-bar {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 2px;
  background-color: #000;
  padding: 2px;
  border-radius: 1px;
  max-width: 400px; /* Giới hạn chiều rộng */
}

.search-bar input {
  flex: 1;
  padding: 8px 8px;
  border: 0.5px solid #fff;
  background-color: #fff;
  color: #000;
  border-radius: 1px;
  outline: none;
  font-size: 14px; /* Giảm size chữ */
}

.search-bar input::placeholder {
  color: #aaa;
  font-size: 12px;
}

.search-bar button {
  padding: 12px 14px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 8px;
}

.search-bar button:hover {
  background-color: grey;
}
